In [4]:
# importing packages and loading 'load_births' sample dataset
import pandas as pd
from pandasql import sqldf, load_births

births = load_births()

print(sqldf("select * from births where births > 250000 limit 5;", locals()))

                         date  births
0  1975-01-01 00:00:00.000000  265775
1  1975-03-01 00:00:00.000000  268849
2  1975-05-01 00:00:00.000000  254545
3  1975-06-01 00:00:00.000000  254096
4  1975-07-01 00:00:00.000000  275163

In [9]:
# simple query to sum births grouped by DOB using sqldf
query = """
            select
                date(date) as dob,
                sum(births) as total_births
            from
                births
            group by 1
            order by 1
            limit 10;
        """
print(sqldf(query, locals()))

          dob  total_births
0  1975-01-01        265775
1  1975-02-01        241045
2  1975-03-01        268849
3  1975-04-01        247455
4  1975-05-01        254545
5  1975-06-01        254096
6  1975-07-01        275163
7  1975-08-01        281300
8  1975-09-01        270738
9  1975-10-01        265494

In [8]:
# simple query to view columns and headers in the births table
headerquery = """
select * from births limit 1;
"""

print(sqldf(headerquery,locals()))

                         date  births
0  1975-01-01 00:00:00.000000  265775

In [10]:
# create a function to reduce keystrokes when calling the query + locals/globals. globals can easily be replaced with locals, vice versa
def pysqldf(query):
    return sqldf(query, globals())

In [11]:
# demonstrate calling the above function with print
print(pysqldf(query))

          dob  total_births
0  1975-01-01        265775
1  1975-02-01        241045
2  1975-03-01        268849
3  1975-04-01        247455
4  1975-05-01        254545
5  1975-06-01        254096
6  1975-07-01        275163
7  1975-08-01        281300
8  1975-09-01        270738
9  1975-10-01        265494

In [1]:
pwd

'C:\\Users\\Justin\\Documents\\Python'